:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --background-color: #ffffff;
  --background-hero: #c4c4c4;
  --second-backgraund-color: #2f303a;
  --btn-color: #f5f4fa;
  --second-btn-color: #188ce8;
  --address-color: rgba(255, 255, 255, 0.6);
  --border: #ececec;
  --second-border: #eeeeee;
  --color-icons: #afb1b8;
  --time: 250ms;
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}

body {
  color: var(--primary-text-color);
  background-color: var(--background-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
.address {
  font-style: normal;
  line-height: 1.71;
}

.button {
  border-radius: 4px;
  border: none;

  cursor: pointer;
  font-family: inherit;
}

/* --------------HEADER------------- */

.main-container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid var(--border);
}

.logo {
  color: var(--logo-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo:focus {
  outline: 1px solid var(--logo-color);
}
.logo-span {
  color: var(--accent-color);
}
.site-nav .link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;

  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--time) var(--timing);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .current-link {
  position: relative;
  color: var(--accent-color);
}
.current-link::after {
  content: '';

  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav .portfolio-link {
  position: relative;
  color: var(--accent-color);
}
.portfolio-link::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .header-mail-link,
.auth-nav .header-phone-link {
  padding-top: 30px;
  padding-bottom: 30px;

  color: var(--second-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--time) var(--timing);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.header-mail-link,
.header-phone-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.mail-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* --------------HERO------------- */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-hero);
  min-height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__wrap {
  text-align: center;
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 626px;

  color: var(--third-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--third-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  transition: background-color var(--time) var(--timing);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--second-btn-color);
  color: var(--third-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* --------------SPECIFICS------------- */

.specifics-list {
  display: flex;
  justify-content: space-between;
}
.specifics-list .item {
  max-width: 270px;
}

.specifics-list .item + .item {
  margin-left: 30px;
}

.specifics-list .text {
  color: var(--second-text-color);
}
.specifics-list .title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.specifics-list .text {
  line-height: 1.7;
}
.specifics-content {
  display: flex;
  background-color: var(--btn-color);
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
}
.specifics-icon {
  width: 70px;
  height: 70px;
}

/* --------------WORK------------- */

.work {
  padding-top: 0;
}

.work-main-list {
  display: flex;
}

.work-main-list .item + .item {
  margin-left: 30px;
}

.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.wark-about-item {
  position: relative;
}
.work-abaut {
  position: absolute;
  left: 0;
  bottom: 0;

  background-color: rgba(47, 48, 58, 0.8);

  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.work-abaut-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
}

/* --------------TEAM------------- */

.team {
  background-color: var(--btn-color);
}

.team-list {
  display: flex;
  text-align: center;
}

.team-list .team-item:not(:last-child) {
  margin-right: 30px;
}

.team-list .team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--background-color);
}

.team-list .team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-list .text {
  color: var(--second-text-color);

  font-size: 16px;
  line-height: 1.18;

  margin-bottom: 16px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-list .team-soc-item {
  height: 44px;
  width: 44px;
  margin-right: 10px;
}

.team-soc-item:last-child {
  margin-right: 0;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-icons);

  transition: background-color var(--time) var(--timing), color var(--time) var(--timing);
}

.team-soc-icon {
  fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

/* --------------CLIENTS------------- */

.clients-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list .clients-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}
.clients-item:last-child {
  margin-right: 0px;
}
.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--color-icons);
  border-radius: 4px;
  color: var(--color-icons);

  transition: color var(--time) var(--timing), border var(--time) var(--timing);
}

.clients-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* --------------FOOTER------------- */
.footer {
  display: flex;

  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-backgraund-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footeer-content + .footeer-content {
  margin-left: 70px;
}

.logo-footer {
  color: var(--third-text-color);
}

.logo-footer:focus {
  outline: 1px solid var(--background-color);
}

.footer-list .link {
  color: var(--address-color);

  transition: color var(--time) var(--timing);
}
.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}

.address {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
}
.footer-list > .item {
  color: var(--third-text-color);
}
.footer-list .item:not(:first-child) {
  margin-top: 9px;
}

.footer-text {
  text-transform: uppercase;
  color: var(--background-color);
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
}

.footer-join-list {
  display: flex;
}

.footer-join-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-join-item:last-child {
  margin-right: 0;
}
.footer-join-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  fill: var(--background-color);

  transition: background-color var(--time) var(--timing);
}

.footer-join-link:hover,
.footer-join-link:focus {
  background-color: var(--accent-color);
}
.footer-mail {
  display: block;
  margin-left: 94px;
}
.footer-form {
  display: flex;
}

.footer-mail-text {
  text-transform: uppercase;
  color: var(--background-color);
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
}

.footer-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 16px;
  outline: transparent;

  transition: border-color var(--time) var(--timing);
}

.footer-input:focus {
  border-color: var(--accent-color);
}

.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input:not(:placeholder-shown) {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 20px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  color: var(--background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 28px 10px 29px;

  transition: background-color var(--time) var(--timing);
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--second-btn-color);
  color: var(--third-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-icon {
  fill: var(--background-color);
}

/* =========PORTFOLIO.HTML============ */

/* --------------WORK LIST------------- */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .item + .item {
  margin-left: 8px;
}

.filter-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  background-color: var(--btn-color);
  color: var(--primary-text-color);

  transition: background-color var(--time) var(--timing), color var(--time) var(--timing),
    box-shadow var(--time) var(--timing);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.work-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.card-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.card-img {
  position: relative;
  overflow: hidden;
}

.card-img-text {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  color: var(--background-color);
  font-size: 18px;

  line-height: 1.56;
  letter-spacing: 0.03em;

  transform: translateY(100%);
  transition: transform var(--time) var(--timing);
}

.card-item-link:hover .card-img-text,
.card-item-link:focus .card-img-text {
  opacity: 1;
  transform: translateY(0);
}

.card-content {
  padding: 20px 24px;

  border: 1px solid var(--second-border);
  border-top: none;
}

.work-list .filter-text {
  margin-top: 4px;

  color: var(--second-text-color);
  line-height: 1.8;
}

.card-item-link {
  display: block;

  transition: box-shadow var(--time) var(--timing);
}

.card-item-link:hover,
.card-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* ---backdrop--- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--time) var(--timing), visibility var(--time) var(--timing);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0, 9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;

  padding: 40px;
  border-radius: 15px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time) var(--timing);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.button-icon {
  fill: var(--logo-color);
  transition: fill var(--time) var(--timing);
}

.button-icon:hover,
.button-icon:focus {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--primary-text-color);
}
.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  outline: transparent;

  transition: border-color var(--time) var(--timing);
}
.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-lable {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}
.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  outline: transparent;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-text:focus {
  border-color: var(--accent-color);
}

.form-field + .form-field {
  margin-top: 10px;
}

.modal-text:not(:placeholder-shown) {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill var(--time) var(--timing);
}

.form-input {
  position: relative;
  margin-top: 4px;
}

.field-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.modal-link {
  color: var(--accent-color);
  margin-left: 3px;
}

.modal-lable-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-icon {
  fill: transparent;
}

.icon-wrap {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check:checked + .icon-wrap {
  background-color: var(--accent-color);
  border: none;
}
.modal-check:checked + .icon-wrap .check-icon {
  fill: var(--background-color);
}

.button-check {
  display: block;
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  padding: 10px 55px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: inherit;
  color: var(--background-color);
  background-color: var(--accent-color);
  margin: 0 auto;
  margin-top: 30px;

  transition: background-color var(--time) var(--timing);
}
.button-check:focus,
.button-check:hover {
  background-color: var(--second-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
