.footer {
  display: flex;

  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-backgraund-color);
}

.footer__wrap {
  display: flex;
  align-items: baseline;
}
.footeer__content + .footeer__content {
  margin-left: 70px;
}

.logo--light {
  color: var(--third-text-color);
}

.logo--light:focus {
  outline: 1px solid var(--background-color);
}

.address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.address__link {
  color: var(--address-color);

  transition: color var(--time) var(--timing);
}
.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

.address__item {
  color: var(--third-text-color);
}
.address__item:not(:first-child) {
  margin-top: 9px;
}

.footer__text {
  text-transform: uppercase;
  color: var(--background-color);
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
}

.footer-soc {
  display: flex;
}

.footer-soc__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-soc__item:last-child {
  margin-right: 0;
}
.footer-soc__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--footer-link);
  align-items: center;
  justify-content: center;
  fill: var(--background-color);

  transition: background-color var(--time) var(--timing);
}

.footer-soc__link:hover,
.footer-soc__link:focus {
  background-color: var(--accent-color);
}
