.logo {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-accent {
  color: var(--accent-color);
}

.logo--dark {
  color: var(--logo-color);
}

.logo--dark:focus {
  outline: 1px solid var(--logo-color);
}
