.card__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.card__text {
  color: var(--second-text-color);

  font-size: 16px;
  line-height: 1.18;

  margin-bottom: 16px;
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}
